TipezeNyumbaConsoleAppClient/TipezeNyumbaConsoleAppClient/Connected Services/TipezeNyumbaClientService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAddOrUpdateUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddOrUpdateUser" nillable="true" type="tns:AddOrUpdateUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddOrUpdateUser" nillable="true" type="tns:ArrayOfAddOrUpdateUser" />
  <xs:complexType name="AddOrUpdateUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountState" type="xs:int" />
      <xs:element minOccurs="0" name="dateTimeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subscriptionType" type="xs:int" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
      <xs:element minOccurs="0" name="userRoleForUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userSubscriptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddOrUpdateUser" nillable="true" type="tns:AddOrUpdateUser" />
  <xs:complexType name="ArrayOfGetHouseDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetHouseDetails" nillable="true" type="tns:GetHouseDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetHouseDetails" nillable="true" type="tns:ArrayOfGetHouseDetails" />
  <xs:complexType name="GetHouseDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="bedrooms" type="xs:int" />
      <xs:element minOccurs="0" name="dateHouseWillBeAvailable" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dateUploaded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fenceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="houseID" type="xs:int" />
      <xs:element minOccurs="0" name="houseState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="masterBedroomEnsuite" type="xs:boolean" />
      <xs:element minOccurs="0" name="modeOfPayment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numberOfGarages" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="phoneNumber1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="selfContained" type="xs:boolean" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="whatsAppContactNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetHouseDetails" nillable="true" type="tns:GetHouseDetails" />
</xs:schema>