TipezeNyumbaConsoleAppClient/TipezeNyumbaConsoleAppClient/Connected Services/TipezeNyumbaClientService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8083/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" />
  <xs:element name="getMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="getUserResult" nillable="true" type="q1:ArrayOfAddOrUpdateUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddANewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="newUser" nillable="true" type="q2:AddOrUpdateUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddANewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddANewUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="userToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetUserProfileResult" nillable="true" type="q3:AddOrUpdateUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuntheticationToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuntheticationTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuntheticationTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHousesByDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHousesByDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetAllHousesByDistrictResult" nillable="true" type="q4:ArrayOfGetHouseDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHousesByDateHouseAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHousesByDateHouseAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetAllHousesByDateHouseAvailableResult" nillable="true" type="q5:ArrayOfGetHouseDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHousesByDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHousesByDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TipezeNyumbaService.ModelsWrapperObjects" minOccurs="0" name="GetAllHousesByDateRangeResult" nillable="true" type="q6:ArrayOfGetHouseDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>